@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color:#007aff;
  --secondary-color:#1c1c1e;
  --background-color:#1f0f0f;
  --text-color:#333;
  --border-color:#e0e0e0;
  --button-color:#007aff;
  --button-text-color:#fff;
  --button-hover-color:#0056
}
#app{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
