# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual Environments
venv/
env/
ENV/
.venv/
.env/

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/
.cache/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Flask
instance/

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython
cython_debug/
